<h2>Examples:</h2>
<ul class="examples">
  <li>Check a price at HMV: <span>hmv pink floyd the wall</span></li>
  <li>Check a price at Virgin: <span>virgin pink floyd the wall</span></li>
  <li>Get a rating for a game: <span>score final fantasy 12</span></li>
</ul>